@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@font-face {
    font-family: "Bruce Forever";
    src: url("../../../public/font/Bruce\ Forever.ttf");
}

@font-face {
    font-family: 'BraveNewEraG98';
    src: url('../../../public/font/BraveNewEraG98-5XOj.ttf') format('truetype');
}

@font-face {
    font-family: 'ethnocentric';
    src: url("../../../public/font/ethnocentric\ rg.otf");
}



nav {
    position: fixed;
    margin: 0;
    height: 70px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top 0.5s;
    z-index: 11;
}

.nav-logo {
    font-size: 40px;
    width: fit-content;
    border-bottom: 2px solid;
    margin-left: 65px;
    z-index: 15;
    letter-spacing: 1px;
}

.navigation {
    margin-right: 65px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.navigation>li {
    font-size: 20px;
    font-weight: 600;
}

.navigation>li {
    font-size: 20px;
    font-weight: 600;
}

li>a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}

li>a:hover {
    color: #ffffff;
    opacity: 70%;
    transition: all;
    transition-duration: 500ms;
}

li>a::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
}

li>a::after:hover {
    width: 100%;
}


.hamburger {
    background: fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 50px;
    cursor: pointer;
    z-index: 15;
}

.active span:nth-child(1) {
    animation: ease .5s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .5s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .5s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .5s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .5s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .5s bottom-2 forwards;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
}

@media screen and (min-width: 1100px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .navigation {
        position: absolute;
        flex-direction: column;
        /* top: 70px; */
        padding: 40px;
        background: #000;
        z-index: 5;
        margin: 0;
        right: 0;
        left: 0;
        transition: top .5s ease;
    }
    .nav-hidden {
        top: -420px;
    }
    .nav-show {
        top: 70px;
    }
}

/* animation */

@keyframes top {
    0% {
        transform: rotate(0) translateY(0);
    }
    50% {
        transform: rotate(0) translateY(9px);
    }
    100% {
        transform: rotate(-45deg) translateY(11.5px);
    }
}

@keyframes top-2 {
    0% {
        /* margin-top: 22px; */
        transform: rotate(-45deg) translateY(11.5px);
    }
    50% {
        transform: rotate(0) translateY(9px);
    }
    100% {
        transform: rotate(0) translateY(0);
    }
}

@keyframes bottom {
    0% {
        /* margin-bottom: 0; */
        transform: rotate(0) translateY(0);
    }
    50% {
        /* margin-bottom: 22px; */
        transform: rotate(0) translateY(-9px);
    }
    100% {
        /* margin-bottom: 22px; */
        transform: rotate(45deg) translateY(-11.5px);
    }
}

@keyframes bottom-2 {
    0% {
        /* margin-bottom: 22px; */
        transform: rotate(45deg) translateY(-11.5px);
    }
    50% {
        /* margin-bottom: 22px; */
        transform: rotate(0) translateY(-9px);
    }
    100% {
        /* margin-bottom: 0; */
        transform: rotate(0) translateY(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

