footer {
    padding-top: 31px;
    width: 100%;
    height: auto;
    position: relative;
}

.footer-logo {
    height: fit-content;
    bottom: 0;
    top: 0;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    border-bottom: 2px solid;
}

.footer-logo>h1 {
    font-size: 40px;
}

footer>h2 {
    text-align: center;
    font-size: 20px;
}

footer .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    gap: 30px;
}

footer .copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .footer-logo {
        margin-left: 80px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    footer>h2 {
        padding-top: 10px;
        font-size: 20px;
    }
    .footer-logo {
        margin: 0;
    }
}